@tailwind base;

@layer base {
  html {
    @apply font-dmSans;
  }

}

@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-allerta-stencil: 'Allerta Stencil', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  --color-accent: #A18A68;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Neutral Colors */
  --color-dark-gray: #707070;
  --color-gray: #D8D8D8;
  --color-light-gray: #EFEFEF;

  /* Service Colors */
  --color-error: #D82700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
