@tailwind base;

@layer base {
  html {
    @apply font-dmSans;
  }

}

@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-allerta-stencil: 'Allerta Stencil', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  --color-accent: #A18A68;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Neutral Colors */
  --color-dark-gray: #707070;
  --color-gray: #D8D8D8;
  --color-light-gray: #EFEFEF;

  /* Service Colors */
  --color-error: #D82700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-container .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
}

